<a href="https://colab.research.google.com/github/jjyldyzbek/hello-world/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R programming
3.   Julia

Some of the commonly used libraries used by Data Scientists include:


1.   NumPy
2.   Matplotlib
3.   Pandas

| Header 1 |
    |---|
    | JupyterLab |
    | Google Collab|
    | Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
a=7
b=8
a*b

56

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**

## List popular languages for Data Science

1.   Python
2.   R
3.   Julia

## Author

Zhyldyzbek Zhakshylykov